<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
<!--
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <i class="fa fa-bars"></i>
      </button>
-->
      <!-- title -->
      <a class="navbar-brand" href="#">{{ .Site.Title }}</a>
    </div>

    <div class="collapse navbar-collapse scrollspy">
      <ul class="nav navbar-nav navbar-right">
        {{ range where .Data.Pages "Section" "top" }}
        <li>
          <a href="{{ .Params.href }}"><i class="{{ .Params.iconclass }}"></i><span>{{ .Title }}</span></a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>

